body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    background-color: lavender;    
}
header{
    height: 20vh;
}
header hr{
    border: 2px solid black;
}
header h1{
    text-align: center;
    margin: 2rem;
}
.container{
    width: 30%;
    margin:auto  auto;
    border: 1px solid black;
}
section {
    display: flex;
    justify-content: space-between;
    background-color:lavender;

}
section div{
     width: 100%;
    height: 4rem;
    background-color:#04052e;
    margin: 1rem;
    border: 1px solid red;
    color: aquamarine;
}
